---
layout: layout
title: Past Announcements
---

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.categories contains 'announcement' %}
			<div class="row">
				 <div class="col-sm-4 col-md-4 col-lg-4">
					 <h5 style="text-align: right">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-8 col-md-8 col-lg-8">
					 <h5 style="text-align: left">
					 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
					 </h5>
				 </div>
			</div>
		{% endif %}
	    {% endfor %}
	</div>
  </div>
</div> 
	
<div class="container">
{% for page in site.posts %}
{% if page.categories contains 'announcement' %}

	<div class="blog-post">
		<h4>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h4>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			  {{ page.content }}
			   
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
</div>